@model Entities.Concrete.Portfolio
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card col-md-10 offset-md-1">
    <div class="card-header border-0">
        <h3 class="mb-0">Proje Ekleme Sayfası</h3>
    </div>

    @using (Html.BeginForm("Add", "Portfolio", FormMethod.Post))
    {
        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        @Html.Label("Görsel 1")
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ImageUrl)
        <br />
        @Html.Label("Görsel 2")
        @Html.TextBoxFor(x => x.ImageUrl2, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ImageUrl2)
        <br />
        @Html.Label("Proje Url")
        @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProjectUrl)
        <br />
        @Html.Label("Platform")
        @Html.TextBoxFor(x => x.Platform, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Platform)
        <br />
        @Html.Label("Fiyat")
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Price)
        <br />
        @Html.Label("Durum")
        @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Status)
        <br />

        @Html.Label("Tamamlanma Oranı")
        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Value)
        <br />
        <button type="submit" class="btn btn-primary">Ekle</button>
    }

</div>
