@model Entities.Concrete.Portfolio
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card col-md-10 offset-md-1">
    <div class="card-header border-0">
        <h3 class="mb-0">Deneyim Güncelleme Sayfası</h3>
    </div>

    @using (Html.BeginForm("Update", "Portfolio", FormMethod.Post))
    {
        <div class="mb-3">
            @Html.HiddenFor(x => x.Id)
            @Html.Label("Başlık")
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            <br />
            @Html.Label("Görsel 1")
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
            <br />
            @Html.Label("Görsel 2")
            @Html.TextBoxFor(x => x.ImageUrl2, new { @class = "form-control" })
            <br />
            @Html.Label("Proje Url")
            @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
            <br />
            @Html.Label("Platform")
            @Html.TextBoxFor(x => x.Platform, new { @class = "form-control" })
            <br />
            @Html.Label("Fiyat")
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
            <br />
            @Html.Label("Durum")
            @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
            <br />
            @Html.Label("Tamamlanma Oranı")
            @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
            <br />
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    }
</div>

