@using Entities.Concrete
@model List<UserMessage>
@{
    ViewData["Title"] = "SenderMessage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gönderilen Mesajlar</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Konu</th>
                            <th>Alıcı</th>
                            <th>Tarih</th>
                            <th>Detaylar</th>
                            <th>Durum</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Subject</td>
                                <td>@item.ReceiverName</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy HH:mm"))</td>
                                <td><a asp-action="SenderMessageDetails" asp-route-id="@item.Id" class="btn btn-outline-primary">Mesajı Gör</a></td>
                                @if (@item.Status == false)
                                {
                                    <td><h4 style="color: red">Mesaj Okunmadı</h4></td>
}
                                else { <td><h4 style="color: green">Mesaj Okundu</h4></td>}

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

