@model Entities.Concrete.Service
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card col-md-10 offset-md-1">
    <div class="card-header border-0">
        <h3 class="mb-0">Hizmet Güncelleme Sayfası</h3>
    </div>

    @using (Html.BeginForm("Update", "Service", FormMethod.Post))
    {
        <div class="mb-3">
            @Html.HiddenFor(x => x.Id)
            @Html.Label("Başlık")
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            <br />
            @Html.Label("Görsel")
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
            <br />
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    }
</div>


