@using Entities.Concrete
@model List<Portfolio>

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Proje Listesi</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> Proje Adı</th>
                                <th> Url </th>
                                <th> Fiyat</th>
                                <th> Tarih </th>
                                <th> Tamamlanma Oranı</th>
                                <th> Durum </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td> @item.ProjectUrl </td>
                                    <td> @item.Price </td>
                                    <td> @item.Date </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100">@item.Value</div>
                                        </div>
                                    </td>
                                    <td>
                                        @if (@item.Status == true)
                                        {
                                            <span>
                                                Tamamlandı
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                Tamamlanmadı
                                            </span>
                                        }
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
