@model Entities.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Update", "Experience", FormMethod.Post))
            {
                <p class="card-description" style="font-size: 18px"> Öne Çıkan Güncelleme </p>
                <div class="mb-3">
                    @Html.HiddenFor(x => x.Id)
                    @Html.Label("Başlık")
                    @Html.TextBoxFor(x => x.Header, new { @class = "form-control" })
                    <br />
                    @Html.Label("Ad-Soyad")
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    <br />
                    @Html.Label("Pozisyon")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

                    <br />
                </div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
            }
        </div>
    </div>
</div>
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/Template/assets/vendors/js/vendor.bundle.base.js"></script>
