@model Entities.Concrete.Experience

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Update", "Experience", FormMethod.Post))
            {
            <p class="card-description" style="font-size: 18px"> Deneyim Güncelleme </p>
                <div class="mb-3">
                    @Html.HiddenFor(x => x.Id)
                    @Html.Label("Başlık")
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    <br />
                    @Html.Label("Tarih")
                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                    <br />
                    @Html.Label("Resim Yolu")
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <br />
                    @Html.Label("Açıklama")
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                    <br />
                </div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
            }
        </div>
        </div>
    </div>
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/Template/assets/vendors/js/vendor.bundle.base.js"></script>


